@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #ff5b2e;
    --tertiary-color: #656689;
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;

    --c-green-500: #45ffbc;
    --c-olive-500: #e3ffa8;

    --c-white: var(--c-gray-100);

    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    background: #fffaf5;
}

/* Commont */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    // --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    // border: 1px solid rgba(0, 9, 88, 0.7);
    // border-radius: 99px;
    // font-weight: 600;
    // font-size: 1.4rem;
    text-align: center;
    color: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btnPrimary {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
    border-color: currentColor !important;
}

.sectionHeading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: var(--primary-color);
}

.sectionDesc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: var(--tertiary-color);
}

.heroCtaBtn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btnIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
