.postDetail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postComment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleDetail {
    font-size: 3rem;
    font-weight: 900;
}
