.postDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleDetail {
    font-size: 3rem;
    font-weight: 900;
}

// comment
.postComment {
    display: flex;
    align-items: center;
    justify-content: center;
}
