/* Sidebar container */
.sidebarTitle {
    font-size: 1.8rem;
    margin: 30px 0 15px;
}

.sidebar {
    width: 240px;
    min-height: 100vh;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Menu */
.menu ul {
    // list-style: none;
    // padding: 0;
    // margin: 0;
}

.menu .sidebarItem {
    margin-bottom: 8px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    font-size: 16px;
    color: #5e6085;
    text-decoration: none;
    border-radius: 999px;
    transition:
        background 0.3s ease,
        color 0.2s ease;
}

.menu a i {
    font-size: 18px;
    color: #5e6085; /* tím nhẹ */
}

/* Hover */
.menu a:hover {
    background: var(--secondary-color);
    border-radius: 999px;
    color: #fff;
    font-weight: 900;
}

.menu a:hover i {
    color: #fff;
}

/* Active (selected item) */
.menu a.active,
.menu a[aria-current="page"] {
    // background: #e0ddff; /* tím nhạt hơn khi được chọn */
    // font-weight: 600;
}
