.contentMain {
    padding-top: 2rem;
    padding-bottom: 6rem;
    flex-grow: 1;
}

.settingsTitle {
    font-size: 4rem;
    font-weight: 900;
    color: var(--c-text-primary);
    margin-bottom: 30px;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.card {
    box-shadow:
        0 3px 3px 0 rgba(0, 0, 0, 0.05),
        0 5px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    border: 2px solid #fff;
    flex-direction: column;
    background: #a3a3a3;
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.25rem 1rem 1.25rem;
}

.cardHeader {
    .cardHeaderInner {
        display: flex;
        align-items: center;
    }
}

// .card-header div {
//   display: flex;
//   align-items: center;
// }

.cardHeader {
    & .cardHeaderInner {
        span {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// .card-header .cardHeaderInner span {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.cardHeader {
    & .cardHeaderInner {
        & span {
            img {
                max-height: 100%;
            }
        }
    }
}

// .card-header div span img {
//   max-height: 100%;
// }

.cardHeader {
    & .cardHeaderInner {
        .cardHeaderTitle {
            margin-left: 0.75rem;
            font-weight: 500;
            color: var(--c-text-primary);
        }
    }
}

.cardHeaderImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.cardHeaderInner span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
}

.toggle {
    input {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

.toggle input:checked + .cardHeaderSpan {
    background-color: var(--c-accent-primary);
}

.toggle {
    & input {
        &:checked + span {
            &:before {
                transform: translateX(calc(100% - 2px));
            }
        }
    }
}

.toggle {
    & span {
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 3px;
            top: 3px;
            height: 18px;
            width: 18px;
            background-color: var(--c-background-primary);
            border-radius: 50%;
            box-shadow: 0 1px 3px 0 rgba(#000, 0.15);
            transition: 0.15s ease;
        }
    }
}

.cardBody {
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
}

.cardBody .cardBodyDesc {
    color: var(--c-text-primary);
}

.cardFooter {
    margin-top: auto;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--c-border-primary);
}

.cardFooter {
    a {
        color: #404089;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.875rem;
    }
}

.cardGrid {
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.cardGrid {
    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
