.headerActionLink {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.headerActionBtn {
    --height: 50px;
    min-width: 118px;
    border: none;
    border-radius: 0;
    font-weight: normal;
}

.headerActionLink:hover {
    background-color: rgba(0, 9, 88, 0.05);
    border-radius: 999px;
    transition: background-color 0.3s ease;
}

.headerActionBtn:hover {
    background-color: var(--secondary-color);
    color: #fff;
    border-color: currentColor;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
