.headerAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.headerActionBtn,
.headerActionLink {
    padding: 8px 18px;
    text-align: center;
    font-weight: 500;
    // font-size: 1.4rem;
    // font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.headerActionLink,
.headerActionBtn {
    // --height: 40px;
    // height: var(--height);
    min-width: 118px;
    border: none;
    border-radius: 0;
    font-weight: normal;
}

.headerActionLink:hover,
.headerActionBtn:hover {
    background-color: var(--secondary-color);
    color: #fff;
    border-color: currentColor;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
