.hero {
    margin-top: 74px;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heroInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.heroMedia {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.heroImgWrapper {
    flex-shrink: 0;
    width: 530px;
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
