.footer {
    padding: 18px;
    background: #f4f4f4;
    text-align: center;
    font-size: 14px;
    color: #666;
    font-size: 1.2rem;
    font-weight: 900;
}

.adminFooter {
    margin-top: 52px;
    // background: #fff6ed;
}

.footerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footerRight a {
    color: #666;
}
.adminFooterLink {
    padding: 12px 16px;
}

.adminFooterLink:hover {
    background: var(--secondary-color);
    border-radius: 999px;
    color: #fff;
    font-weight: 900;
    padding: 12px 16px;
}
