.footer {
    padding: 18px;
    background: #f4f4f4;
    text-align: center;
    font-size: 14px;
    color: #666;
    font-size: 1.2rem;
}

.adminFooter {
    margin-top: 52px;
    // background: #fff6ed;
}

.footerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
