// Loader Circle
.loaderCircle {
    .loader {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
    }
    .loader::after,
    .loader::before {
        content: "";
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        left: 0;
        top: 0;
        animation: animLoader 2s linear infinite;
    }
    .loader::after {
        animation-delay: 1s;
    }

    @keyframes animLoader {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}

// Loader Circle Point
.loaderCirclePoint {
    .loader {
        width: 48px;
        height: 48px;
        border: 5px dotted #fff;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 2s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// Loader Round Nested
.loaderRoundNested {
    .loader {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        color: #fff;
    }
    .loader:before,
    .loader:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        transform: rotateX(70deg);
        animation: 1s spin linear infinite;
    }
    .loader:after {
        color: #ff3d00;
        transform: rotateY(70deg);
        animation-delay: 0.4s;
    }

    @keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotateZ(360deg);
        }
    }

    @keyframes rotateccw {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(-360deg);
        }
    }

    @keyframes spin {
        0%,
        100% {
            box-shadow: 0.2em 0px 0 0px currentcolor;
        }
        12% {
            box-shadow: 0.2em 0.2em 0 0 currentcolor;
        }
        25% {
            box-shadow: 0 0.2em 0 0px currentcolor;
        }
        37% {
            box-shadow: -0.2em 0.2em 0 0 currentcolor;
        }
        50% {
            box-shadow: -0.2em 0 0 0 currentcolor;
        }
        62% {
            box-shadow: -0.2em -0.2em 0 0 currentcolor;
        }
        75% {
            box-shadow: 0px -0.2em 0 0 currentcolor;
        }
        87% {
            box-shadow: 0.2em -0.2em 0 0 currentcolor;
        }
    }
}

// Loader Circle Nested
.loaderCircleNested {
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid #fff;
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-left: 4px solid #ff3d00;
        border-bottom: 4px solid transparent;
        animation: rotation 0.5s linear infinite reverse;
    }
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// Loader Square Nested
.loaderSquareNested {
    .loader {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
    }
    .loader::after,
    .loader::before {
        content: "";
        width: 48px;
        height: 48px;
        border: 2px solid #fff;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        animation: rotation 2s ease-in-out infinite;
    }
    .loader::after {
        border-color: #ff3d00;
        animation-delay: 1s;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// Loading Number Percent
.loaderNumberPercent {
    .loader {
        display: block;
        position: relative;
        height: 32px;
        width: 200px;
        background: #fff;
        border: 2px solid #fff;
        color: red;
        overflow: hidden;
    }
    .loader::before {
        content: "";
        background: red;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        animation: loading 10s linear infinite;
    }
    .loader:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: rgb(0, 255, 255);
        mix-blend-mode: difference;
        animation: percentage 10s linear infinite;
    }

    @keyframes loading {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes percentage {
        0% {
            content: "0%";
        }
        5% {
            content: "5%";
        }
        10% {
            content: "10%";
        }
        20% {
            content: "20%";
        }
        30% {
            content: "30%";
        }
        40% {
            content: "40%";
        }
        50% {
            content: "50%";
        }
        60% {
            content: "60%";
        }
        70% {
            content: "70%";
        }
        80% {
            content: "80%";
        }
        90% {
            content: "90%";
        }
        95% {
            content: "95%";
        }
        96% {
            content: "96%";
        }
        97% {
            content: "97%";
        }
        98% {
            content: "98%";
        }
        99% {
            content: "99%";
        }
        100% {
            content: "100%";
        }
    }
}

// Loading Timeline Loading
.loadingTimelineLoading {
    .loader {
        font-size: 48px;
        color: #fff;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        position: relative;
    }
    .loader:after {
        content: "Loading";
        position: relative;
        z-index: 5;
    }
    .loader:before {
        content: "";
        height: 6px;
        border: 1px solid;
        border-radius: 10px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
        background-size: 0% auto;
        animation: 10s lineGrow linear infinite;
    }

    @keyframes lineGrow {
        to {
            background-size: 100% auto;
        }
    }
}
