.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 240px);
}
