.wrapper {
    width: 100%;
    // min-height: calc(100vh - 80px); // trừ chiều cao header
    padding-top: 20px;
}

/* FLEX chứa sidebar + content */
.inner {
    display: flex;
    gap: 24px;
    width: 100%;
    // max-width: 1200px;
    // margin: 0 auto;
}

/* Sidebar cố định chiều rộng */
