/* header */
.appHeader {
    display: grid;
    grid-template-columns:
        minmax(min-content, 175px) minmax(max-content, 1fr)
        minmax(max-content, 400px);
    column-gap: 4rem;
    align-items: flex-end;
    @media (max-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--c-gray-600);
    }
}

.appHeaderNavigation {
    @media (max-width: 1170px) {
        display: none;
    }
}

.logoStyle {
    background: #fff;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 15px;
}

.app-header-actions {
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
        display: none;
    }
}

.app-header-actions-buttons {
    display: flex;
    border-left: 1px solid var(--c-gray-600);
    margin-left: 2rem;
    padding-left: 2rem;

    & > * + * {
        margin-left: 1rem;
    }
}

.app-header-mobile {
    display: none;
    @media (max-width: 1200px) {
        display: flex;
    }
}

/* body */
.app-body {
    height: 100%;
    display: grid;
    grid-template-columns:
        minmax(min-content, 175px) minmax(max-content, 1fr)
        minmax(min-content, 400px);

    column-gap: 4rem;
    padding-top: 2.5rem;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        & > * {
            margin-bottom: 3.5rem;
        }
    }
}

.app-body-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1200px) {
        display: none;
    }
}

.app-body-sidebar {
}

.footer {
    margin-top: auto;
    h1 {
        font-size: 1.5rem;
        line-height: 1.125;
        display: flex;
        align-items: flex-start;
        small {
            font-size: 0.5em;
            margin-left: 0.25em;
        }
    }

    div {
        border-top: 1px solid var(--c-gray-600);
        margin-top: 1.5rem;
        padding-top: 1rem;
        font-size: 0.75rem;
        color: var(--c-text-tertiary);
    }
}

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--c-gray-600);
    @media (max-width: 1200px) {
        border-bottom: 0;
    }
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.logo-title {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    margin-left: 0.75rem;
    span:first-child {
        color: var(--c-text-primary);
    }
    span:last-child {
        color: var(--c-text-tertiary);
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--c-text-tertiary);
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.25s ease;

        * {
            transition: 0.25s ease;
        }

        i {
            margin-right: 0.75rem;
            font-size: 1.25em;
            flex-shrink: 0;
        }

        & + a {
            margin-top: 1.25rem;
        }

        &:hover,
        &:focus {
            transform: translateX(4px);
            color: var(--c-text-primary);
        }
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    color: var(--c-text-tertiary);
    border-bottom: 1px solid var(--c-gray-600);

    a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        border-top: 2px solid transparent;
        display: inline-flex;
        transition: 0.25s ease;
        &.active,
        &:hover,
        &:focus {
            color: var(--c-text-primary);
            border-color: var(--c-text-primary);
        }
    }
}

.user-profile {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: var(--c-text-tertiary);
    transition: 0.25s ease;

    &:hover,
    &:focus {
        color: var(--c-text-primary);
        span:last-child {
            box-shadow:
                0 0 0 4px var(--c-gray-800),
                0 0 0 5px var(--c-text-tertiary);
        }
    }

    span:first-child {
        display: flex;
        font-size: 1.125rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--c-gray-600);
        font-weight: 300;
    }

    span:last-child {
        transition: 0.25s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 1.5rem;
        flex-shrink: 0;
    }
}

.icon-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    border: 1px solid var(--c-gray-500);
    color: var(--c-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease;
    flex-shrink: 0;
    &.large {
        width: 42px;
        height: 42px;
        font-size: 1.25em;
    }

    i {
        transition: 0.25s ease;
    }

    &:hover,
    &:focus {
        background-color: var(--c-gray-600);
        box-shadow:
            0 0 0 4px var(--c-gray-800),
            0 0 0 5px var(--c-text-tertiary);
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1.25rem;
    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.tile {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--c-olive-500);
    color: var(--c-gray-900);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.25s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &:focus-within {
        box-shadow:
            0 0 0 2px var(--c-gray-800),
            0 0 0 4px var(--c-olive-500);
    }

    &:nth-child(2) {
        background-color: var(--c-green-500);
        &:focus-within {
            box-shadow:
                0 0 0 2px var(--c-gray-800),
                0 0 0 4px var(--c-green-500);
        }
    }
    &:nth-child(3) {
        background-color: var(--c-gray-300);
        &:focus-within {
            box-shadow:
                0 0 0 2px var(--c-gray-800),
                0 0 0 4px var(--c-gray-300);
        }
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;

        .icon-button {
            color: inherit;
            border-color: inherit;
            &:hover,
            &:focus {
                background-color: transparent;
                i {
                    transform: none;
                }
            }
        }

        &:focus {
            box-shadow: none;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.tile-header {
    display: flex;
    align-items: center;
    i {
        font-size: 2.5em;
    }

    h3 {
        display: flex;
        flex-direction: column;
        line-height: 1.375;
        margin-left: 0.5rem;
        span:first-child {
            font-weight: 600;
        }

        span:last-child {
            font-size: 0.825em;
            font-weight: 200;
        }
    }
}

.service-section {
    & > h2 {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
    }
}

.service-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * + * {
        margin-left: 1.25rem;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.service-section-footer {
    color: var(--c-text-tertiary);
    margin-top: 1rem;
}

.search-field {
    display: flex;
    flex-grow: 1;
    position: relative;
    input {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
        border-bottom: 1px solid var(--c-gray-600);
        background-color: transparent;
        padding-left: 1.5rem;
    }

    i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.dropdown-field {
    display: flex;
    flex-grow: 1;
    position: relative;
    select {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 0;
        border-bottom: 1px solid var(--c-gray-600);
        background-color: transparent;
        padding-right: 1.5rem;
        appearance: none;
        color: var(--c-text-tertiary);
        width: 100%;
    }

    i {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.flat-button {
    border-radius: 6px;
    background-color: var(--c-gray-700);
    padding: 0.5em 1.5em;
    border: 0;
    color: var(--c-text-secondary);
    transition: 0.25s ease;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: var(--c-gray-600);
    }
}

.mobile-only {
    display: none;
    @media (max-width: 1000px) {
        display: inline-flex;
    }
}

.transfer-section {
    margin-top: 2.5rem;
}

.transfer-section-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--c-gray-600);
    h2 {
        font-size: 1.5rem;
    }
}

.payments {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.payment {
    display: flex;
    align-items: center;
    & + * {
        margin-top: 1rem;
    }
}

.card {
    width: 125px;
    padding: 0.375rem;
    aspect-ratio: 3 / 2;
    flex-shrink: 0;
    border-radius: 6px;
    color: var(--c-gray-800);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 600;
    &.green {
        background-color: var(--c-green-500);
    }

    &.olive {
        background-color: var(--c-olive-500);
    }

    &.gray {
        background-color: var(--c-gray-300);
    }

    span:last-child {
        align-self: flex-end;
    }
}

.payment-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 1.5rem;
    h3 {
        font-size: 1rem;
        color: var(--c-text-tertiary);
    }

    div {
        margin-top: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-top: 1px solid var(--c-gray-600);
        border-bottom: 1px solid var(--c-gray-600);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;

        span {
            font-size: 1.5rem;
        }
    }
}

.filter-options {
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    border-left: 1px solid var(--c-gray-600);
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    p {
        & + * {
            margin-left: auto;
            margin-right: 0.75rem;
        }
        color: var(--c-text-tertiary);
        font-size: 0.875rem;
        @media (max-width: 1000px) {
            display: none;
        }
    }
}
