// Header
.adminWrapper .appHeader {
    display: grid;
    grid-template-columns:
        minmax(min-content, 175px) minmax(max-content, 1fr)
        minmax(max-content, 400px);
    column-gap: 1rem;
    align-items: flex-end;
    @media (max-width: 1170px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom: 1px solid var(--c-gray-600);
    }
}

.appHeaderNavigation {
    @media (max-width: 1170px) {
        display: none;
    }
}

.appHeaderActions {
    display: flex;
    align-items: center;
    @media (max-width: 1170px) {
        display: none;
    }
}

.adminWrapper .appHeaderActionsButtons {
    display: flex;
    // border-left: 1px solid var(--c-gray-600);
    margin-left: 2rem;
    padding-left: 2rem;

    & > * + * {
        margin-left: 1rem;
    }
}

.appHeaderMobile {
    display: none;
    @media (max-width: 1170px) {
        display: flex;
    }
}

/* header */
.app-header {
    display: grid;
    grid-template-columns:
        minmax(min-content, 175px) minmax(max-content, 1fr)
        minmax(max-content, 400px);
    column-gap: 4rem;
    align-items: flex-end;
    @media (max-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom: 1px solid var(--c-gray-600);
    }
}

.app-header-navigation {
    @media (max-width: 1200px) {
        display: none;
    }
}

.app-header-actions {
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
        display: none;
    }
}

.app-header-actions-buttons {
    display: flex;
    border-left: 1px solid var(--c-gray-600);
    margin-left: 2rem;
    padding-left: 2rem;

    & > * + * {
        margin-left: 1rem;
    }
}

.app-header-mobile {
    display: none;
    @media (max-width: 1200px) {
        display: flex;
    }
}
