/* header */
.appHeader {
    .app-header {
        display: grid;
        grid-template-columns:
            minmax(min-content, 175px) minmax(max-content, 1fr)
            minmax(max-content, 400px);
        column-gap: 4rem;
        align-items: flex-end;
    }
}

.appHeaderNavigation {
    @media (max-width: 1170px) {
        display: none;
    }
}

.logoStyle {
    background: #fff;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 15px;
}

.app-header-actions {
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
        display: none;
    }
}

.app-header-actions-buttons {
    display: flex;
    border-left: 1px solid var(--c-gray-600);
    margin-left: 2rem;
    padding-left: 2rem;

    & > * + * {
        margin-left: 1rem;
    }
}

.app-header-mobile {
    display: none;
    @media (max-width: 1200px) {
        display: flex;
    }
}

/* body */
// .app-body {
//     height: 100%;
//     display: grid;
//     grid-template-columns:
//         minmax(min-content, 175px) minmax(max-content, 1fr)
//         minmax(min-content, 400px);

//     column-gap: 4rem;
//     padding-top: 2.5rem;

//     @media (max-width: 1200px) {
//         grid-template-columns: 1fr;
//         & > * {
//             margin-bottom: 3.5rem;
//         }
//     }
// }

// .app-body-navigation {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     @media (max-width: 1200px) {
//         display: none;
//     }
// }

// .app-body-sidebar {
// }

// .footer {
//     margin-top: auto;
//     h1 {
//         font-size: 1.5rem;
//         line-height: 1.125;
//         display: flex;
//         align-items: flex-start;
//         small {
//             font-size: 0.5em;
//             margin-left: 0.25em;
//         }
//     }

//     div {
//         border-top: 1px solid var(--c-gray-600);
//         margin-top: 1.5rem;
//         padding-top: 1rem;
//         font-size: 0.75rem;
//         color: var(--c-text-tertiary);
//     }
// }

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--c-gray-600);
    @media (max-width: 1200px) {
        border-bottom: 0;
    }
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.logo-title {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    margin-left: 0.75rem;
    span:first-child {
        color: var(--c-text-primary);
    }
    span:last-child {
        color: var(--c-text-tertiary);
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--c-text-tertiary);
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.25s ease;

        * {
            transition: 0.25s ease;
        }

        i {
            margin-right: 0.75rem;
            font-size: 1.25em;
            flex-shrink: 0;
        }

        & + a {
            margin-top: 1.25rem;
        }

        &:hover,
        &:focus {
            transform: translateX(4px);
            color: var(--c-text-primary);
        }
    }
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    color: var(--c-text-tertiary);
    border-bottom: 1px solid var(--c-gray-600);

    a {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        border-top: 2px solid transparent;
        display: inline-flex;
        transition: 0.25s ease;
        &.active,
        &:hover,
        &:focus {
            color: var(--c-text-primary);
            border-color: var(--c-text-primary);
        }
    }
}
