.footer {
    margin-top: 52px;
    // background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
    background: #fff6ed;
}

.footerInner {
    display: flex;
}

.footerLeft {
    padding: 52px 0 48px 0;
    width: 42%;
}

.footerRight {
    flex: 1px;
    padding: 52px 0 48px 0;
}

.footerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerListLink {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    border-radius: 999px;
    // background-color: rgba(0, 9, 88, 0.05);
    // transition: background-color 0.3s ease;
}

.footerListLink {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.footerListLink:hover {
    background-color: rgba(0, 9, 88, 0.05);
    border-radius: 999px;
    transition: background-color 0.3s ease;
}
.footerListLink:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

footer p {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
