.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--c-text-tertiary);
}

.navigation ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation li + li {
    margin-top: 1.25rem;
}

.navigation .sidebarActionLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.25s ease;
    color: inherit;
}

.navigation .sidebarActionLink * {
    transition: 0.25s ease;
}

.navigation .sidebarActionLink i {
    margin-right: 0.75rem;
    font-size: 1.25em;
    flex-shrink: 0;
}

.active .navigation .sidebarActionLink:hover,
.navigation .sidebarActionLink:focus {
    transform: translateX(4px);
    color: var(--c-text-primary);
}

// .navigation a {
//     display: flex;
//     align-items: center;
//     text-decoration: none;
//     transition: 0.25s ease;
// }

// .navigation a * {
//     transition: 0.25s ease;
// }

// .navigation a i {
//     margin-right: 0.75rem;
//     font-size: 1.25em;
//     flex-shrink: 0;
// }

// .navigation a + a {
//     margin-top: 1.25rem;
// }

// .navigation a:hover,
// .navigation a:focus {
//     transform: translateX(4px);
//     color: var(--c-text-primary);
// }
