.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--c-text-tertiary);
}

.navigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.25s ease;
}

.navigation a * {
    transition: 0.25s ease;
}

.navigation a i {
    margin-right: 0.75rem;
    font-size: 1.25em;
    flex-shrink: 0;
}

.navigation a + a {
    margin-top: 1.25rem;
}

.navigation a:hover,
.navigation a:focus {
    transform: translateX(4px);
    color: var(--c-text-primary);
}

/* Footer */
.footer {
    margin-top: auto;
}

.footer h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.125;
    display: flex;
    align-items: flex-start;
    color: var(--c-text-primary);
}

.footer h2 small {
    font-size: 0.5em;
    margin-left: 0.25em;
}

.footer div.footerCopyRight {
    border-top: 1px solid var(--c-gray-600);
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 0.75rem;
    color: var(--c-text-tertiary);
}
