.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
// .cardRow {
//     display: flex;
//     justify-content: center;
//     gap: 2rem;
//     padding: 2rem;
//     flex-wrap: wrap;
// }

// .card {
//     width: 250px;
//     background: #3c3163;
//     color: white;
//     border-radius: 1rem;
//     overflow: hidden;
//     box-shadow: 0 0 5em -1em black;
//     transition: all 0.5s ease;
//     text-align: left;
//     display: flex;
//     flex-direction: column;
// }

// .card:hover {
//     background: white;
//     color: #3c3163;
//     transform: translateY(-5px);
//     box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
// }

// .cardImg {
//     display: block;
//     width: 100%;
//     height: 200px;
//     object-fit: contain;
// }

// .cardBody {
//     padding: 1rem;
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;
//     flex-grow: 1;
// }

// .cardTitle {
//     font-size: 1.2rem;
//     margin: 0;
// }

// .cardDesc {
//     font-size: 0.9rem;
//     line-height: 1.5;
//     flex-grow: 1;
// }

// .cardBtn {
//     align-self: flex-start;
//     padding: 0.5rem 1rem;
//     background: rgba(255, 255, 255, 0.3);
//     border-radius: 0.3rem;
//     font-size: 0.8rem;
//     text-decoration: none;
//     color: inherit;
//     transition: background 0.3s ease;
// }

// .card:hover .cardBtn {
//     background: #3c3163;
//     color: white;
// }

// list card new

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
}

.productList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.blogPost {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.containerCopy {
    padding: 4rem 2rem 3rem 2rem;
}

.containerCopy h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

.containerCopy h2 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}

.containerCopy p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #333;
}

.btnPrimary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btnPrimary:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}
