.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.containerShadow {
    margin-top: 30px;
    padding: 40px;
    border-radius: 30px;
    background: #fefefe;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
}

.productList {
    display: flex;
    // align-items: stretch;
    // align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 1.5rem;
}

.blogPost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 2 - 20px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.containerCopy {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 2rem;
}

.containerCopy .subSectionTitle {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

.containerCopy .subTitle {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}

.containerCopy .paraPost {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    line-height: 1.45;
    color: #333;
}

.btnPrimary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btnPrimary:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

.pagination {
    margin-top: 30px;
}
