.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList {
    display: flex;
}

.navbarItem {
    color: #000;
}

.navbarLink {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    border-radius: 999px;
    transition: background-color 0.3s ease;
}

.headerActionLink:hover {
    background-color: rgba(0, 9, 88, 0.05);
    border-radius: 999px;
    transition: background-color 0.3s ease;
}
