.appBodyMainContent {
    //
}

.serviceSection > h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: var(--c-text-primary);
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1.25rem;
}

.tile {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--c-olive-500);
    color: var(--c-gray-900);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.25s ease;
}

.tileHeader {
    display: flex;
    align-items: center;
}

.tileHeader i {
    font-size: 2.5em;
}

.tileHeader h3 {
    display: flex;
    flex-direction: column;
    line-height: 1.375;
    margin-left: 0.5rem 8px;
}

.tileHeader h3 span:first-child {
    font-weight: 600;
}
.tileHeader h3 span:last-child {
    font-size: 0.825em;
    font-weight: 200;
}

.serviceSectionFooter {
    color: var(--c-text-tertiary);
    margin-top: 1rem;
}

.tile a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.tile a .icon-button {
    color: inherit;
    border-color: inherit;
}

.tile a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tile:nth-child(2) {
    background-color: var(--c-green-500);
}
