.appBodyMainContent {
    //
}

.serviceSection > h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: var(--c-text-primary);
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1.25rem;
}

.tile {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--c-olive-500);
    color: var(--c-gray-900);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.25s ease;
}

.tile-header {
    display: flex;
    align-items: center;
}

.serviceSectionFooter {
    color: var(--c-text-tertiary);
    margin-top: 1rem;
}
